---
---
//
// IMPORTS
//

// @import "_reset";
@import "_variables";
@import "mixins";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

#disqus_thread{
  opacity:0.3;
  border-top:1px solid gray;
  margin-top:5px;
  padding-top:5px;
  
}

#disqus_thread:hover{
  opacity:1;
}


// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}





// nav {
//   float: right;
//   margin-top: 23px; // @TODO: Vertically middle align
//   font-family: $helveticaNeue;
//   font-size: 18px;

//   @include mobile {
//     float: none;
//     margin-top: 9px;
//     display: block;
//     font-size: 16px;
//   }

//   a {
//     margin-left: 20px;
//     color: $darkGray;
//     text-align: right;
//     font-weight: 300;
//     letter-spacing: 1px;

//     @include mobile {
//       margin: 0 10px;
//       color: $blue;
//     }
//   }
// }


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "assets/css/bootstrap4.min.css";
@import "syntax";
@import "svg-icons";
@import "theme";

