
//********************************************************
//                    Variables
//********************************************************

// Colors
$blue: rgb(83, 163, 243);

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$mediumGray: #999;
$lightGray: #DDD;
$white: #fff;


// Several accent colors, choose one or create your own!
$accent-color: $blue;    // original =)
// $accent-color: #C38FD6;  // velvet
//$accent-color: #8FD6B3;  // greenish
//$accent-color: #35B4DE;  // bluish
//$accent-color: #D2E354;  // yellowish
//$accent-color: #52B54B;  // green

// $font-color: #1b1b1b;
// $background-color: rgb(231, 231, 231);
// $post-panel-color: #cecece;
// $footer-background-color: #585858;
$font-color: #dddddd;
$background-color: #292929;
$post-panel-color: #39393a;
$footer-background-color: #292c2f;
$header-background-color: $footer-background-color;
$note-color: #87CEFA;
$warning-color: #ffff00;
// use this or pick any from /assets/images/backgrounds folder or from transparenttextures.com
$background-pattern: '';//'random-grey-variations.png';



// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

$base-font-size:16;
$base-border-color: $lightGray;
$base-border-radius: 4px;

// Effects
// =============================================================================

$base-transition-speed: .2s;





// Articles
$article-header-title-color: $darkerGray;
$article-header-description-color: $darkGray;
$article-post-titles-color: $darkerGray;
$article-footer-color: $mediumGray;
$article-footer-link-color: $darkGray;
$article-footer-link-color-hover: $darkerGray;
$article-paginator-color-hover: $darkerGray;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}